
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background:rgb(211, 10, 10);
}

p,h1{
	font-size: 80px;
	color: rgb(255,255,255);
}
.container{
	width: 1500px;
	height: 580px;
	background:rgba(0,0,0,0.3);
	
	box-shadow: 15px 15px 28px 0 rgba(0,0,0,1),-12px -12px 24px 0 rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-field{
	width: 350px;
	height: 40px;
	margin: 20px 0;
	background:aqua;
	font-size: 21px;
	box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.4),inset -6px -6px 10px 0 rgba(255,255,255,0.5);
	
}
.xy{
	font-size: 40px;
	align-self: flex-end;
	color: rgb(255,255,255);
}
.xz{
	font-size: 40px;
	align-self: flex-end;
	align-items: center;
    justify-content: left;
    color: rgb(255,255,255);
}
.xx{
	font-size: 25px;
	color: rgb(255,255,255);
}